:root {
  --border-radius: 8px;
  --section-height: 70vh;
  --card-width: 20rem;

  --text-color: rgb(62, 69, 83);
  --accent-text-color: #fff;
  --accent-color: #034ea2;
  --accent-color-light: #2183f0;

  --bold-font-weight: 800;
}

*:focus {
  outline: 2px dashed var(--text-color);
}
