:root {
  --border-radius: 8px;
  --ranking-section-height: 80vh;
  --encounter-section-height: 70vh;
  --card-width: 20rem;

  --text-color: rgb(62, 69, 83);
  --accent-text-color: #fff;
  --accent-color: #034ea2;
  --accent-color-light: #2183f0;

  --success-color: #9ee59e;
  --error-color: #ffa1a1;

  --left-color: red;
  --neutral-color: white;
  --right-color: blue;

  --bold-font-weight: 800;
}

*:focus {
  outline: 2px dashed var(--text-color);
}

b {
  font-weight: var(--bold-font-weight);
}
